body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: rgb(34, 33, 33);
}

h1{
  margin-top: -1.5rem;
  color: white;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
}

h3{
  color: white;
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
  /* padding-top: 5rem; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 31, 31);
  height: 6rem;
  padding-top: 1rem;
  text-align: center;
  
}

.div-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 4rem; */
}

.box {
  width: 32rem;
  height: 3rem;
  text-align: center;
  padding: 0.5rem;
  border: 3px solid #228cc5;
  border-radius: 5px;
  font-size:larger;
  /* text-transform: uppercase; */
  
}
.box-dueDate{
  width: 32rem;
  height: 3rem;
  text-align: center;
  padding: 0.5rem;
  border: 3px solid #228cc5;
  border-radius: 5px;
  font-size:larger;
  text-transform: uppercase;
  
}

.btn {
  width: 7rem;
  height: 3rem;
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: white;
  margin-right: 26rem;
  margin-top: 1px;
  cursor: pointer;
  font-size: larger;
  font-weight: 800;

  border: 3px solid #2294c5;
}

.btn:hover {
  background-color: darkblue;
}

.icons {
  height: 2rem;
  width: 2rem;
  color: red;
  cursor: pointer;
}
.icon-d {
  height: 1.5rem;
  width: 1.5rem;
  color: rgb(0, 7, 1);
  cursor: pointer;
  margin-top: 5px;
  background-color: rgb(250, 249, 249);
}

.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35rem;
  padding: 0.5rem;
  border-bottom: 2px solid #121215;
  
  margin-bottom: 1rem;
  color: aliceblue;
  font-weight: 800;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons button {
  margin-left: 0.5rem;
}

h2{
  color:white
}

.form-control{
  width:25rem;
  height: 3rem;
  border-radius: 5px;

  font-size: larger;
}

.form{
  margin-top: 20rem;
  display:flex;
  justify-content: center;
}

.notification-icon {
position: absolute;
top: 20px;
right: 20px;
color: white;
font-size: 2.5rem;
}

.form-error {
color: rgb(243, 99, 99);
margin-top: 0.5rem;
font-size: 0.9rem;
text-align: center;
/
}

.done {
width: 2.5rem;
height: 2.5rem;
border: 4px solid rgb(164, 146, 146);
background-color: #423d3c; 
border-radius: 3px;

cursor: pointer;
}

.done:hover {
background-color: #c81e1e;
}

.tick {
width: 0.5rem;
height: 1.2rem;
display: inline-block;
border-right: 3px solid rgb(203, 193, 193);
/* font-weight: 900; */
border-bottom: 3px solid rgb(234, 229, 229);
transform: rotate(45deg);
border-width: 5px;
}

.done.completed {
background-color: rgb(245, 7, 7);
}

.morning{
display: flex;
justify-content: center;
font-size: 2rem;
align-items: center;
margin-top: 3rem;
}

.des{
  width:20rem;
}

.des::before {
  content: "Description: ";
  font-weight: bold;
  color: #ffa500;
}

.description-input{
  height:2rem;
  display: flex;

}

.due-date::before {
  content: "Due Date: ";
  font-weight: bold;
  color: #ffa500; 
}

.alert {
  position: fixed;
  top: 10px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 300px; 
  height:1.5rem;
}

@media (max-width: 768px) {
  .div-1 {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 90%;
  }

  .btn {
    width: 90%;
    margin-top: 0.5rem;
  }

  li {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .buttons {
    flex-direction: row;
    justify-content: flex-start;
  }

  .buttons button {
    margin-top: 0;
    margin-left: 0.5rem;
  }

  .notification-icon {
    top: 10px;
    right: 10px;
    font-size: 2rem;
  }
}

@media (max-width: 480px) {

  .notification-icon {
    top: 15px;
    right:-16rem;
    font-size: 4rem;
  }

  h1{
    margin-left: 4.9rem;
  }

  .morning{
    margin-left: 6rem;
  }

  li {
    width: 100%;
 
  }

  .div-1 {
    /* flex-direction: row; */
    justify-content: space-between;
    margin-left: 5rem;
    width: calc(100% - 8rem); 
  }

  .box {
     width: 23rem;
    margin-top: 0.8rem;
    margin-left: 10rem;
  }
  .box-dueDate{
     width: 23rem;
    margin-top: 0.8rem;
    margin-left: 10rem;
  }

.contain{
  margin-left: 1.5rem;
}
.container-2{
  margin-left: 20.5rem;
  font-size: 1.5rem;
  /* width: 3rem; */
}
.des{
  width: 35rem;
}
  
  .btn {
    width: 8rem;
    margin-top: 5px;
    margin-left: 20rem;
  }

  .icon-d{
    height: 1.7rem;
  }


.buttons{
  margin-right: 6rem;
}



.form-control{
  width:15rem;
}
  .form-error {
    margin-right: 0;
  }

  

}